# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.bunch'
name: 'Bunch'
fileTypes: [ 'bunch' ]
limitLineLength: false

patterns: [
  {
    comment: 'Use this to explain the function of the rule, if necessary'
    name: 'comment.line.bunch'
    match: '#.*$'
  }
  {
    match: '@'
    name: 'keyword.operator.bunch'
  }
  {
    match: '---'
    name: 'keyword.yaml.bunch'
  }
  {
    match: '\\w+: '
    name: 'variable.bunch'
  }
  {
    match: 'AND|OR|NOT'
    name: 'keyword.operator.word.bunch'
  }
]
